:root {
    --dark-gray: #4e4d50;
    --light-gray: #ececec;
    --light-purple: #7750f8;
    --medium-purple: #7510F7;
    --darkest-purple: #291f33;
    --tan: #b1a296;
    --twitch-purple: #6441a4;
    --divider-gray: rgb(110, 110, 110);
    --past-gray:  #99979c;
}

::selection {
    background-color: var(--darkest-purple);
    color: var(--tan);
}

body {
    background-color: var(--dark-gray);
    color: var(--light-gray);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
    margin-bottom: 25px;
    background-color: var(--dark-gray);
    margin: 10px 0 50px 0;
}

h1 {
    color: var(--light-gray);
    letter-spacing: 3px;
    font-weight: 600;
}

.search-section {
    border-right: 2px solid var(--divider-gray);
    padding-top: 10px;
}

.btn {
    background-color: var(--light-purple);
    margin: 5px 0 15px 0;
}

.recent-search {
    margin: 5px 0 5px 0;
    text-align: center;
    background-color: var(--dark-gray);
    color: var(--light-gray);
    border: 2px solid var(--divider-gray);
    border-radius: 5px;
    width: 100%;
}

.recent-search:hover {
    background-color: var(--light-purple);

}

.recent-search:active {
    border: none;
}

.current-class {
    border-radius: 15px;
    margin-left: 10px;
    background-color: var(--light-purple);
    padding-bottom: 10px;
}

.uv-low {
    background-color: green;
    padding: 3px;
    border-radius: 5px;
}

.uv-moderate {
    background-color: yellow;
    color: var(--dark-gray);
    padding: 3px;
    border-radius: 5px;
}

.uv-high {
    background-color: red;
    padding: 3px;
    border-radius: 5px;
}

#forecast-heading {
    margin-top: 25px;
    margin-left: 10px; 
}

.forecast-card {
    border-radius: 15px;
    margin: 10px;
    background-color: var(--light-purple);
    padding: 10px;
}

.icon-center { 
    text-align: center;
}

@media screen and (max-width: 991px) {
    .row {
        justify-content: center;
        width: 100%;
        margin-left: none;
        margin-left: auto;
        margin-right: auto;
    }

    aside {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .search-section {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 15px;
        border: none;
        padding-bottom: 15px;
        border-bottom: 2px solid var(--divider-gray);
    }

    .current-section {
        text-align: center;
        padding-top: 10px;
    }

    .current-class {
        margin-left: 0;
    }

    .city-name {
        display: flex;
        flex-direction: column;
    }

    .city-name img {
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }

    .forecast-section {
        justify-content: center;
    }

    #forecast-heading {
        text-align: center;
    }

    .forecast-card {
        text-align: center;
    }
}